@{
    ViewBag.Title = "Home Page";
}

<div style="padding:20px;">
    <h3> Movies Manager </h3>
    
    <p>
        Manage all your Movies / TVShow in your Hard Disk, USB Devices, Original DVD, Blu-Ray Discs, VHS and more!
    </p>
    <hr />
    <p>
        All New Design, XMM has been rewritten from scratch.
        Now you have More Skin to choose and a new clean and simple Interface
    </p>
    <hr />
</div>